resource {{ resource }} {
  device    {{ device }};
  disk      {{ disk }};
  meta-disk internal;
  on primary {
    address   {{ primary_address }}:{{ port }};
  }
  on secondary {
    address   {{ secondary_address }}:{{ port }};
  }
}
