#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=RISE Secondary Server
Requires=basic.target anacron.service console-setup.service cron.service networking.service remote-fs.target rsync-backups.timer rsyslog.service ssh.service
Conflicts=rescue.service rescue.target primary.target
After=basic.target rescue.service rescue.target
AllowIsolate=yes
