{# vi: set ft=jinja: #}

{% import_yaml "defaults.yaml" as defaults %}

{% set drbd = salt['pillar.get']('drbd', default=defaults.drbd, merge=true) %}
{% set network = salt['pillar.get']('network', default=defaults.network, merge=true) %}
{% set pcs = salt['pillar.get']('pcs', default=defaults.pcs, merge=true) %}
{% set unifi = salt['pillar.get']('unifi', default=defaults.unifi, merge=true) %}
{% set volumes = salt['pillar.get']('volumes', default=defaults.volumes, merge=true) %}
